@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Helvetica-Regular";
  src: local("Helvetica-Regular");
}

@font-face {
  font-family: "Futura PT-ExtraBold";
  src: local("Futura PT-ExtraBold");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: local("Helvetica-Bold");
}

@font-face {
  font-family: "SF Pro Display-Semibold";
  src: local("SF Pro Display-Semibold");
}
