body {
  margin: 0;
  text-align: center;
  font-family: Arial;
}

/* Desktop */
body {
  background: white;
}

/* Laptop */
@media (max-width: 1024px) {
  body {
    background: lightgreen;
  }
}

/* Tablet */
@media (max-width: 768px) {
  body {
    background: lightblue;
  }
}

/* Mobile */
@media (max-width: 480px) {
  body {
    background: lightgray;
  }
}